// /***** color-palette *****/
$canvas_red:         #FF5252;
$canvas_light_red:   #FF1744;
$canvas_pink:        #D81B60;
$canvas_purple:      #9C27B0;
$canvas_deep_purple: #673AB7;
$canvas_indigo:      #3949AB;
$canvas_blue:        #2962FF;
$canvas_light_blue:  #0288D1;
$canvas_cyan:        #5D7DFB;
$canvas_dark_cyan:   #4769d2;
$canvas_teal:        #188c75;
$canvas_green:       #4CAF50;
$canvas_light_green: #7CB342;
$canvas_sea_green:   #6ab878;
$canvas_lime:        #C0CA33;
$canvas_yellow:      #FFD600;
$canvas_dark_yellow: #F57F17;
$canvas_amber:       #FF6F00;
$canvas_orange:      #FF6D00;
$canvas_deep_orange: #F4511E;
$canvas_brown:       #6D4C41;
$canvas_grey:        #424242;
$canvas_dark_grey:   #323232;
$canvas_blue_grey:   #37474F;
$canvas_green_grey:  #3b4342;
// /***** color-palette *****/

//
// Gedit
//
window.org-gnome-gedit {
  > paned.titlebar {
    background-color: $canvas_deep_purple;

    > separator {
      background-image: image($canvas_deep_purple);
      border-top: 1px solid transparent;
    }

    // > headerbar {
    //   background-color: $canvas_deep_purple;
    // }
  }
}

//
// Gnome Contacts
//
headerbar.titlebar.contacts-left-header-bar,
headerbar.titlebar.contacts-right-header-bar {
  background-color: $canvas_indigo;

  // button { @extend %header_theme_button; }
}

//
// Gnome Calender
//
window.org-gnome-Calendar {
  headerbar.titlebar {
    background-color: $canvas_amber;

    // button { @extend %header_theme_button; }
  }
}

//
// Gnome Tweak Tool (Gnome Tweaks)
//

window.background.csd {
  > hdyleaflet.titlebar {
    > headerbar.titlebar.tweak-titlebar-left,
    > headerbar.titlebar.tweak-titlebar-right {
      background-color: $canvas_brown;

      // button { @extend %header_theme_button; }
    }

    > separator {
      background-color: $canvas_brown;
    }
  }
}

//
// Gnome Control Center
//
window.background.csd {
  > headerbar.titlebar > hdyleaflet {
    > headerbar {
      background-color: $canvas_dark_cyan;
      box-shadow: inset 0 1px highlight($titlebar);

      &:first-child:not(:only-child) {
        border-top-left-radius: $window-radius;
      }

      &:last-child:not(:only-child) {
        border-top-right-radius: $window-radius;
      }

      &:first-child:only-child, &:last-child:only-child {
        border-top-right-radius: $window-radius;
        border-top-left-radius: $window-radius;
      }
    }

    > separator {
      background-color: $canvas_dark_cyan;
      box-shadow: inset 0 1px highlight($titlebar);
    }
  }
}

//
// Gnome Builder
//
window.workbench.org-gnome-Builder {
  headerbar {
    background-color: $canvas_blue;

    // button { @extend %header_theme_button; }
  }
}

//
// Gnome-system-monitor
//
window#gnome-system-monitor {
  headerbar.titlebar {
    background-color: $canvas_teal;

    // button { @extend %header_theme_button; }
  }
}

//
// Gnome-Todo
//
window.org-gnome-Todo {
  headerbar.titlebar {
    background-color: $canvas_deep_orange;

    // button { @extend %header_theme_button; }
  }
}

//
// Dconf-editor
//
window.dconf-editor {
  headerbar.titlebar {
    background-color: $canvas_purple;

    // button { @extend %header_theme_button; }
  }
}

//
// Gnome-Logs
//
headerbar.titlebar.event_toolbar {
  background-color: $canvas_dark_yellow;

  // button { @extend %header_theme_button; }
}

//
// Geary
//
window#GearyMainWindow {
  > .titlebar {
    background-color: $canvas_green;
  }
}

//
// Budgie Setting Window
//
window.background.budgie-setting-window.csd {
  > headerbar.titlebar {
    background-color: $canvas_blue_grey;
  }
}
